.example-button-row {
    display: table-cell;
    max-width: 600px;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }

  .class{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 0.5cm;
    padding-left:10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: wheat;
    margin-right: 30%;
    margin-left: 30%;
  }

  .span{
    color: red;
}