<body class="bgimg xxx">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd; ">
    <a class="Resto navbar-brand" href="">Resto</a>
    <div class="navbar-nav">
      <a class="xyz btn btn-outline-danger" routerLink="login">Login Restorant</a>
      <a class="xyz btn btn-outline-danger" routerLink="register">Register Restorant</a>
      <a class="xyz btn btn-outline-danger" routerLink="add">Add Restorant </a>
      <a class="xyz btn btn-outline-danger" routerLink="">List Restorant</a>
      
      

      <form>
        <input class="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  
  <div class="container">
    <img class="imgg" src="/assets/image/logoo.png">
    <router-outlet></router-outlet>
  </div>
  <div class="div">
    <footer>
      
      <h5>Register Your Restourant With Us...</h5>
    </footer>
  </div>
</body>